<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<!--<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          Create Business
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="business" class="nav-link" routerLinkActive="active">
          Business
        </a>
      </li> 
    </ul>
  </div>
</nav>-->

<!--<div class="container">-->
  <router-outlet></router-outlet>
<!--</div>-->