<div class="container1 register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://cdn3.iconfinder.com/data/icons/health-care/2000/Health7-2-512.png" alt=""/>
                        <h3>Donate Blood</h3>
                        <p>There is no great joy than saving a soul!</p>
                        <!--<input type="submit" name="" class="d-none d-sm-block" value="Login" data-toggle="tab" href="#profile"/><br/>-->
                    </div>
                    <div class="col-md-9 col-xs-12 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h6 class="register-heading d-none d-sm-block">It's free and always will be.</h6>
                                <h3 class="register-heading">Create an account</h3>

                                <form [formGroup]="registrationForm" novalidate>
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" value="" formControlName="first_name"
                                                    [ngClass]="{ 'is-invalid': (regf.first_name.dirty || regf.first_name.touched) && regf.first_name.errors }"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" value="" formControlName="last_name"
                                                    #last_name [ngClass]="{ 'is-invalid': (regf.last_name.dirty || regf.last_name.touched) && regf.last_name.errors }"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" value="" formControlName="password"
                                                #password [ngClass]="{ 'is-invalid': (regf.password.dirty || regf.password.touched) && regf.password.errors }"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  placeholder="Confirm Password *" value="" 
                                                    formControlName="confirm_password" #confirm_password [ngClass]="{ 'is-invalid': (regf.confirm_password.dirty || regf.confirm_password.touched) && regf.confirm_password.errors }"/>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your Email *" value="" formControlName="email" #email
                                                    [ngClass]="{ 'is-invalid': (regf.email.dirty || regf.email.touched) && regf.email.errors }"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" 
                                                    formControlName="phone_number" #phone_number [ngClass]="{ 'is-invalid': (regf.phone_number.dirty || regf.phone_number.touched) && regf.phone_number.errors }"/>
                                            </div>
                                            <!-- <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Address *" value="" formControlName="address"
                                                    [ngClass]="{ 'is-invalid': (regf.address.dirty || regf.address.touched) && regf.address.errors }"/>
                                            </div> -->
                                            <div class="form-group">
                                                <select class="form-control" formControlName="blood_group"
                                                    [ngClass]="{ 'is-invalid': (regf.blood_group.dirty || regf.blood_group.touched) && regf.blood_group.errors }">
                                                    <option class="hidden" value="" selected disabled>Please select your Blood Group</option>
                                                    <option>A+</option>
                                                    <option>B+</option>
                                                    <option>O+</option>
                                                    <option>AB+</option>
                                                    <option>A-</option>
                                                    <option>B-</option>
                                                    <option>O-</option>
                                                    <option>AB-</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <div class="maxl">
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="male" checked formControlName="gender">
                                                        <span> Male </span> 
                                                    </label>&nbsp;&nbsp;
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="female" formControlName="gender">
                                                        <span>Female </span> 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 tp30">
                                            <!--<div #bloodBankMap style="width:100%;height:300px"></div>-->
                                            <!--<input id="pac-input"  class="controls" type="text" placeholder="Search Box">-->
                                            
                                            <!-- google map integration -->
                                            <input class="form-control gmapsearchbox" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

                                            <agm-map 
                                                [latitude]="lat" 
                                                [longitude]="lng" 
                                                [zoom]="zoom"
                                                [disableDefaultUI]="false"
                                                [streetViewControl]="false"
                                                [zoomControl]="true"
                                                (mapClick)="mapClicked($event)">

                                                <agm-marker 
                                                    *ngFor="let m of markers; let i = index"
                                                    (markerClick)="clickedMarker(m.label, i)"
                                                    [latitude]="m.lat"
                                                    [longitude]="m.lng"
                                                    [label]="m.label"
                                                    [markerDraggable]="m.draggable"
                                                    (dragEnd)="markerDragEnd(m, $event)">
                                                    
                                                    <agm-info-window>
                                                        <strong>InfoWindow content</strong>
                                                    </agm-info-window>
                                                </agm-marker>
                                            </agm-map>
                                            <!-- google map integration ends -->
                                        </div>

                                        <div class="col-md-12">
                                            <input type="button" class="btnRegister offset-md-6"  value="Register" 
                                                (click)="register(registrationForm)" [disabled]="registrationForm.pristine || registrationForm.invalid"
                                                [ngClass]="{ 'btn-disabled': registrationForm.pristine || registrationForm.invalid }"/>
                                        </div>

                                        <div class="alert alert-primary col-xs-12 col-md-12" role="alert" *ngIf="messageSuccess" style="top:10px">
                                            Registered successfully!
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h6 class="register-heading d-none d-sm-block">Log in to continue</h6>
                                <h3  class="register-heading">Welcome Back,</h3>
                                
                                <form [formGroup]="loginForm" novalidate>
                                    <div class="row register-form">
                                        <div class="offset-md-3 offset-xs-0"></div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email *" value="" formControlName="email"
                                                    [ngClass]="{ 'is-invalid': (lnf.email.dirty || lnf.email.touched) && lnf.email.errors }"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" value="" formControlName="password"
                                                    [ngClass]="{ 'is-invalid': (lnf.password.dirty || lnf.password.touched) && lnf.password.errors }"/>
                                            </div>
                                            <input type="submit" class="btnRegister" value="Login" (click)="doLogin(loginForm)" [disabled]="loginForm.pristine || loginForm.invalid"
                                                [ngClass]="{ 'btn-disabled': loginForm.pristine || loginForm.invalid }"/>

                                        </div>
                                        <div class="offset-md-3 offset-xs-0"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>