.carousel img {
    max-width: 80%;
    max-height: 300px;
    margin: 0 auto;
}

.homepage {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding-bottom: 100%;
}

.bg-dark {
    background-color: #30498c!important;
}

.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #b30e0e;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btn-disabled {
    background: #c57777;
}


/* google map styles */
#bloodBankMap {
    height: 400px;
    width: 550px;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4,
.gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
/* google map styles*/

agm-map {
    height: 300px;
}

.tp30 {
    top: -38px;
}

.gmapsearchbox {
    position: relative;
    top: 50px;
    z-index: 10;
    width: 50%;
}

@media only screen and (max-width:600px) {
    .gmapsearchbox {
        width: 100%;
    }
}

.homePageHeader {
    color: #d42525;
    background-color: #2e2ec5;
    border-top-right-radius: 10% 100%;
    width: 70%;
}

.descriptionTxt {
    color: gainsboro;
    font-style: oblique;
}