<div class="container1 homepage">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="https://pngimage.net/wp-content/uploads/2018/06/hemoglobin-png-7.png" width="60px" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-4 homePageHeader">Blood Bank Management System</h1>
    <p class="descriptionTxt">A platform to bring blood donors</p>

  <form [formGroup]="requestForm" novalidate>
    <div class="row">
    
      <div class="col-md-6 tp30">
        <!-- google map integration -->
        <input class="form-control gmapsearchbox" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

        <agm-map 
            [latitude]="lat" 
            [longitude]="lng" 
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [streetViewControl]="false"
            [zoomControl]="true"
            (mapClick)="mapClicked($event)">

            <agm-marker 
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <!-- google map integration ends -->
      </div>

      <div class="col-md-6">
        <div class="form-group col-md-12">
          <select class="form-control" formControlName="blood_group"
              [ngClass]="{ 'is-invalid': (reqf.blood_group.dirty || reqf.blood_group.touched) && reqf.blood_group.errors }">
              <option class="hidden" value="" selected disabled>Please select your Blood Group</option>
              <option>A+</option>
              <option>B+</option>
              <option>O+</option>
              <option>AB+</option>
              <option>A-</option>
              <option>B-</option>
              <option>O-</option>
              <option>AB-</option>
          </select>
        </div>

        <div class="form-group col-md-12">
          <input type="number" class="form-control" name="count" id="" placeholder="Number of Donors" min="1" max="25"
            formControlName="donor_count" [ngClass]="{ 'is-invalid': (reqf.donor_count.dirty || reqf.donor_count.touched) && reqf.donor_count.errors }">
        </div>

        <div class="form-group col-md-12">
          <input type="number" class="form-control" name="hours" id="" placeholder="Within Hours" min="2" max="48"
            formControlName="within_hours" [ngClass]="{ 'is-invalid': (reqf.within_hours.dirty || reqf.within_hours.touched) && reqf.within_hours.errors }">
        </div>

        <div class="col-md-12">
          <input type="button" class="btnRegister offset-md-6"  value="Emergency Request"
            (click)="requestRaise(requestForm)" [disabled]="requestForm.pristine || requestForm.invalid"
            [ngClass]="{ 'btn-disabled': requestForm.pristine || requestForm.invalid }"/>
        </div>

        <div class="alert alert-primary col-xs-12 col-md-12" role="alert" *ngIf="messageSuccess" style="top:10px; clear:both">
            Emergency request raised!
        </div>

      </div>
    
    </div>
  </form>
    

</div>